.button {
	border: none;
	outline: none;
	padding: 15px 30px;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.315);
	font-weight: bold;
	transition: all 100ms ease;
}

.button:hover {
	opacity: 80%;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
}