.home {
	max-width: 600px;
	margin: 30px auto;
	padding: 20px;
	text-align: center;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.322);
}

.title {
	margin: 10px;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.082);
}

.title > i {
	color: var(--blue3);
}

.description {
	margin-top: 10px;
	font-size: 1.2rem;
}